# Ignore Node & Bower & typings
###################
bower_components
node_modules
*build
*dist
*release
.tmp
src/**/*.map
*.orig
typings
*.tgz

# Ignore Test reporters
###################
**/test/coverage
report
coverage

